*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root {
    --orange-color: #EE8F39;
    --light-blue: #25A59E;
    --brand: #44D5CD;
    --white: #FFFFFF;
    --black: #262626;
    --neutral: #D9D9D9
}
body {
    margin: 50px;
}
.header {
    background-color: #FFFFFF;
    width: 100%;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 250px;
    position: absolute;
    height: 60px;
    width: 375px;
    top: 44px;
    }
.text-wrapper {
    font-family:"Gilda display";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #25A59E;
}
.travel{
    font-family:"Gilda display";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 61.2px;
    position: absolute;
    width: 375px;
    height: 340px;
    margin-top: 180px;
    text-align: center;
}
span {
    color: #25A59E;
}
.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box img {
    max-width: 375px;
    position: absolute;
    height: auto;
    margin-top: 300px;
    margin-right: 350px;
}
.blurry {
    margin-top: -60px;
}
.circle {
    margin-top: 32px;
}
.ecllip {
    margin-top: 20px;
}
.view {
    margin-top: -15px;
}
.content-1 {
    width: 335px;
    height: 104px;
    margin-top: 560px;
}
.content-1 h1 {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}
.content-1 p {
    font-family: "Urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 120px;
    width: 100%;
}
.cont {
    width: 375px;
}
.location {
    display: flex;
    gap: 8px;
}
.container h4 {
    font-family: "Urbanist";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
    color: #262626;
}
.container h6 {
    font-family: "Urbanist";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.content-2 {
    gap: 24px;
    width: 375px;
    height: 204px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.content-2 h2 {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    margin-bottom: 10px;
}
.content-2 p {
    font-family: "Urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.listcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    width: 100%;
}
.card {
    align-items: flex-end;
    justify-content: flex-end;
    gap: 80px;
    padding: 40px 32px 48px;
    flex: 1;
    flex-grow: 1;
    box-shadow: 10px 26px 150px #4342631a;
    display: flex;
    flex-direction: column;
    width: 375px;
    position: relative;
    background-color: #ffffff;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 90%;
    flex: 0 0 auto;
}
.title{
    position: relative;
    align-self: stretch;
    margin-top: -1.4px;
    margin-left: -0.4px;
    -webkit-text-stroke: 0.4px #262626;
    font-family: "Gilda display";
    font-weight: 400;
    color: #262626;
    font-size: 1.5vw;
    letter-spacing: normal;
    line-height: 62px;
    border-color: #262626;
    font-style: normal;
}
.description {
    position: relative;
    align-self: stretch;
    font-family: "Urbanist";
    font-weight: 400;
    color: #262626;
    font-size: 1vw;
    letter-spacing: normal;
    line-height: 32px;
    font-style: normal;
}
.action {
    display: flex;
    align-self: flex-end;
    gap: 12px;
    position: relative;
}
.text {
    position: relative;
    width: fit-content;
    margin-top: -1.4px;
    margin-left: -0.4px;
    -webkit-text-stroke: 0.4px #25a59e;
    font-family: "Gilda Display-Regular", Helvetica;
    font-weight: 400;
    color: #25A59E;
    font-size: 1vw;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    border-color: #25A59E;
}
.listtop {
    position: absolute;
    width: 375px;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #25A59E;
}
.card-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 80px;
    padding: 40px 32px 48px;
    position: relative;
    width: 375px;
    flex: 1;
    flex-grow: 1;
    background-color: #25A59E;
    box-shadow: 10px 26px 150px #4342631a;
}
.title-1 {
    position: relative;
    align-self: stretch;
    margin-top: -1.4px;
    margin-left: -0.4px;
    -webkit-text-stroke: 0.4px #ffffff;
    font-family: "Gilda display";
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1.5vw;
    letter-spacing: normal;
    line-height: 62px;
    border-color: #FFFFFF;
    font-style: normal;
}
.description-1 {
    position: relative;
    align-self: stretch;
    font-family: "Urbanist";
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1vw;
    letter-spacing: normal;
    line-height: 32px;
    font-style: normal;
}
.text-1 {
    position: relative;
    width: fit-content;
    margin-top: -1.4px;
    margin-left: -0.4px;
    -webkit-text-stroke: 0.4px #ffffff;
    font-family: "Gilda Display-Regular", Helvetica;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1vw;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    border-color: #FFFFFF;
}
.group {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    width: 100%;
    position: relative;
    gap: 26px;
}
.text-2 {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 212px;
}
.text-2 h1 {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    height: 104px;
    margin-top: -230px;
    color: #262626;
}
.text-2 p {
    font-family: "Urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 96px;
    color: #595959;
    margin-top: 10px;
}
.img-group {
    position: absolute;
    max-width: 375px;
    height: auto;
    margin-top: -100px;
}
.shape {
    width: 276.03px;
    height: 121.72px;
    margin-top: 220px;
    margin-left: 29px;
}
.look {
    width: 335.11px;
    height: 247px;
    margin-top: -280px;
}
.trip {
    width: 100%;
    position: relative;
    margin-top: 90px;
}
.trip img {
    max-width: 375px;
}
.trip p {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    height: 156px;
    text-align: center;
    width: 375px;
    color: #262626;
    margin-bottom: 20px;
}
.best-offer {
    width: 375px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.best-offer p {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    height: 104px;
    color: #262626;
}
.click {
    padding: 16px 32px 16px 32px;
    background-color: #25A59E;
    color: #FFFFFF;
    height: 54px;
    width: 147px;
    border: solid 1px #25A59E;
    margin-top: 15px;
    margin-bottom: 30px;
}
.divider {
    width: 375px;
}
.best-agent {
    margin-top: 50px;
    width: 100%;
}
.agent {
    font-family: "Urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    width: 375px;
    height: 48px;
}
.social {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    margin-top: 25px;
    gap: 30px;
    margin-bottom: 60px;
}
.icons {
    width: 375px;
    height: 42px;
}
.icons img {
    margin-left: 60px;
}
.menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: "Urbanist";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    height: 24px;
}