*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root {
    --orange-color: #EE8F39;
    --light-blue: #25A59E;
    --brand: #44D5CD;
    --white: #FFFFFF;
    --black: #262626;
    --neutral: #D9D9D9
}
body {
    margin: 50px;
}
.header {
    background-color: #FFFFFF;
    width: 100%;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 250px;
    position: absolute;
    height: 60px;
    width: 375px;
    top: 44px;
    }
.text-wrapper {
    font-family:"Gilda display";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #25A59E;
}
.travel{
    font-family:"Gilda display";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 61.2px;
    position: absolute;
    width: 375px;
    height: 340px;
    margin-top: 180px;
    text-align: center;
}
span {
    color: #25A59E;
}
.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box img {
    max-width: 375px;
    position: absolute;
    height: auto;
    margin-top: 300px;
    margin-right: 350px;
}
.blurry {
    margin-top: -60px;
}
.circle {
    margin-top: 32px;
}
.ecllip {
    margin-top: 20px;
}
.view {
    margin-top: -15px;
}
.content-1 {
    width: 335px;
    height: 104px;
    margin-top: 560px;
}
.content-1 h1 {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}
.content-1 p {
    font-family: "Urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 120px;
    width: 100%;
}
.cont {
    width: 375px;
}
.location {
    display: flex;
    gap: 8px;
}
.container h4 {
    font-family: "Urbanist";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
    color: #262626;
}
.container h6 {
    font-family: "Urbanist";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.content-2 {
    gap: 24px;
    width: 375px;
    height: 204px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.content-2 h2 {
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    margin-bottom: 10px;
}
.content-2 p {
    font-family: "Urbanist";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}